<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <% if logged_in? %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="LOGOUT IDIOT">
      </form>
    <% else %>
      <form action="<%= session_url %>" method= "POST">
        <input type="submit" value= "SIGN IN STUPID USER">
      </form>
    <% end %>

    <%= yield %>
  </body>
</html>
